ul{
    padding: 0;
}
.head{
    padding: 10px 50px;
    box-shadow: 10px 10px 20px 0 rgba(168, 181, 223, 0.1);
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
}
.head-logo h1{
    position: absolute;
    top:0;
    left: -500px;
}
.head-user{
    display: flex;
    align-items: center;
}
.head-user__icon{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    margin-right: 14px;
    object-fit: cover;
}
.user-name,
.user-position{
    display: block;
}
.user-name{
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.06px;
    color: #090909;
}
.user-position,
.user-age{
    font-size: 11px;
    letter-spacing: 0.05px;
    color: #5f5a5a;
}
.user-menu{
    transform: rotate(-90deg);
    background-color: #ffffff;
    border:none;
}
main{
    height: 100%;
    font-family: "Roboto Light", sans-serif;
    color: #060b1b;
    background-image: radial-gradient(circle at 50% 0, #c6c9e7, #edeeff 129%);
}

/*login*/
.login{
    padding-top: 189px;
    padding-bottom: 189px;
}
.login-block{
    border-radius: 3px;
    box-shadow: 10px 10px 20px 0 rgba(191, 205, 229, 0.1), 10px 10px 20px 0 rgba(183, 188, 218, 0.12);
    background-color: #ffffff;
    display: flex;
    align-items: center;
    padding: 85px;
}
.login-block__text h1{
    font-size: 24px;
    margin-bottom: 40px;
}
.login-block__text h2{
    font-size: 46px;
    font-weight: bold;
}
.login-block__form input{
    border-radius: 3px;
    background-color: #eaebf2;
}
.login-block__form .form-group{
    font-size: 22px;
}
.login-block__form .form-group__email{
    position: relative;
    margin-bottom: 30px;
}
.form-group__email .email-wrong,
.form-group__password .pass-wrong{
    font-size: 12px;
    color: #dc1818;
    position: absolute;
    left: 0;
    top: 110%;
    display: none;
}
input:invalid:not(:placeholder-shown) {
    border-color: #dc1818;
}
input:invalid:not(:placeholder-shown) + .email-wrong {
    display: block;
}
.input-wrong{
    border-color: #dc1818;
}
.form-group .form-group__password{
    position: relative;
    margin-bottom: 30px;
    margin-top: 10px;
}
.form-group .form-group__password img{
    position: absolute;
    top: calc(50% - 12px);
    right: 20px;
}

.login-block__form .btn-group-vertical{
    text-align: center;
}
.btn-group-vertical .btn-google{
    border-radius: 3px;
    border: solid 1px #2b336d;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-group-vertical .btn-google img{
    width: 22px;
    margin-right: 10px;
}
.btn-group-vertical p{
    margin-top: 10px;
    margin-bottom: 10px;
}
.btn-login{
    border-radius: 3px;
    background-color: #617dff;
    color: #ffffff;
}

.login-block__form .forgot-pass{
    font-size: 18px;
    color: #2b336d;
    text-decoration: underline;
    margin-top: 26px;
}

.modal{
    top: 25%;
}
.modal-dialog{
    max-width: 642px;
}
.modal-header{
    border: none;
    padding: 50px;
}
.modal-title{
    font-size: 28px;
    color: #2f2f2f;
}
.modal-body .form-group__email{
    display: flex;
    justify-content: space-around;
}
.modal-body .form-group__email input{
    width: 50%;
}
.modal-body .form-group__email .btn-login{
    width: 129px
}

.modal-done .modal-content{
    border-radius: 3px;
    box-shadow: 10px 10px 20px 0 rgba(187, 190, 223, 0.11);
    background-color: #627dff;
}
.modal-done .modal-title{
    color: #ffffff;
}
.modal-done .close{
    color: #ffffff;
}

@media (max-width: 550px) {
    .login{
        padding-top: 0;
        padding-bottom: 0;
    }
    .login-block{
        background-color: rgba(0,0,0,0);
        display: block;
        padding: 30px;
    }
    .login-block__text h2{
        font-size: 25px;
        margin-bottom: 30px;
    }
    .login-block__form input{
        background-color: #ffffff;
    }
    .btn-group-vertical .btn-google{
        background-color: #ffffff;
        font-size: 12px;
        padding-left: 5px;
        padding-right: 5px;
    }
    .btn-group-vertical .btn-google img{
        margin-right: 2px;
    }

    .modal-header,
    .modal-body{
        padding: 30px;
    }
    .modal-title{
        font-size: 18px;
    }
    .modal-body .form-group__email{
        display: block;
    }
    .modal-body .form-group__email input{
        width: 100%;
        margin-bottom: 20px;
        background-color: #eaebf2;
    }
    .modal-body .form-group__email .btn-login{
        float: right;
    }
}

.main-content{
    padding: 27px 31px;
    max-width: 1720px;
}
.aside>div{
    box-shadow: 10px 10px 20px 0 rgba(168, 181, 223, 0.1), 10px 10px 12px 0 rgba(179, 187, 218, 0.13);
}

.background-and-size{
    background-color: #ffffff;
    margin: 30px 15px;
    box-sizing: border-box;
    border-radius: 3px;
}

.welcome{
    padding: 25px;
}
.news{
    padding: 0;
}
.welcome p,
.welcome span{
    font-family: Roboto sans-serif;
    font-size: 28px;
    font-weight: 500;
    font-style: italic;
    letter-spacing: 0.13px;
    text-align: justify;
    color: #060b1b;
    margin: 0;
}
.welcome span{
    display: inline;
    color: #3d62d7;
    text-decoration: underline;
}
.welcome p{
    display: inline-block;
}

.news-img{
    height: 100%;
    width: 80%;
    object-fit: cover;
}
.card{
    border: none;
}
.card-block{
    padding: 15px;
}
.card-title{
    font-family: Roboto sans-serif;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.08px;
    color: #060b1b;
}
.card-footer{
    border: none;
    background-color: #ffffff;
    display: flex;
    align-items: center;
}
.news-icon{
    width: 24px;
    height: 24px;
    margin-right: 12px;
}
.card-autor{
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.05px;
    padding-right: 15px;
}
.card-date{
    font-size: 12px;
}

.call-status>ul{
    display: flex;
    padding: 19px 0;
    width: 100%;
    justify-content: space-around;
    align-items: baseline;
}
.call-status li{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    opacity: 0.65;
}
.call-status img:nth-child(1){
  display: block;
}
.call-status img:nth-child(2){
    display: none;
}
.call-status .active-status{
    opacity: 1;
}
.call-status .active-status img:nth-child(1){
  display: none;
}
.call-status .active-status img:nth-child(2){
    display: block;
}


.last-consultations{
    padding: 24px;
}
.last-consultations>h2,
.waiting-customers>h2{
  font-family: Roboto sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #2b336d;
    margin-bottom: 20px;
}
.last-consultations .head-user,
.waiting-customers .waiting-user{
    margin-bottom: 15px;
}
.last-consultations .see-all{
    color: #617dff;
    font-size: 14px;
}

.waiting-customers{
    padding: 24px 0 24px 24px;
}
.line-before{
    position: relative;
}
.line-before:before{
    content: ' ';
    border-radius: 6.5px;
    background-image: linear-gradient(to bottom, #b5c1f7 6%, #2b336d 188%);
    display: inline-block;
    position: absolute;
    width: 8px;
    height: 100%;
    z-index: 400;
}
.waiting-customers .waiting-user{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 18px;
    position: relative;
    margin-left: 8px;
    background-color: #eaebf2;
    border-radius: 50px 0 0 50px;
}
.waiting-customers .waiting-user:before{
    content: ' ';
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    left: -8px;
    width: 8px;
    height: 8px;
    background-color: #2b336d;

    z-index: 400;
}
.waiting-customers .waiting-status{
    font-size: 14px;
    font-weight: 500;
    color: #060b1b;
    margin-right: 10px;
}

.customer{
    display: flex;
    justify-content: space-around;
    padding: 26px 0;
}
.customer .customer-info{
    display: flex;
}
.customer-info>img{
    width: 74px;
    height: 74px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 23px;
}
.customer-info h3{
    font-size: 22px;
    font-weight: bold;
    color: #2b336d;
}
.customer .customer-details{
    display: flex;
}
.customer-details .customer-diagram{
    width: 200px;
}
.customer-info .customer-sizes{
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    color: #090909;
    font-weight: 500;
}
.list-diagram{
    border-top-style: solid;
    border-top-width: 7px;
    border-image-source: linear-gradient(to right, #75f7d5 0%, #5ae3a3 19%, #59f04b 21%, #8cf044 39%, #e2f044 40%, #f4ec35 59%, #ffb03a 61%, #ffb03b 80%, #f96d40 81%, #ff0000 100%);
    border-image-slice: 1;
    position: relative;
    display: flex;
}
.list-diagram>div{
    display: inline-block;
    min-width: 40px;
    height: 50px;
}
.list-diagram .info img{
    width: 7px;
    display: block;
    margin: 5px;
}
.list-diagram .info-persent{
    font-size: 16px;
    font-weight: bold;
    color: #090909;
}
.customer-disease{
    font-size: 16px;
    padding-left: 20px;
}
.customer-disease>div{
    margin-bottom: 14px;
}
.customer-disease span{
    padding: 10px;
    text-decoration: underline;
}
.customer-prescription h3{
    font-size: 20px;
    font-weight: 500;
}
.customer-prescription ul{
    font-size: 16px;
    padding-left: 20px;
}